{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ pimcore_input("headline", {"width": 540}) }}</h1>

    <div class="product-info">
        {% if editmode %}
            {{ pimcore_relation("product") }}
        {% else %}
            {% set product = pimcore_relation("product").element %}
            {% if product %}
                <h2>{{ product.name }}</h2>
                <div class="content">
                    {% if product.picture %}
                        {{ product.picture.thumbnail("content").html | raw  }}
                    {% endif %}

                    {{ product.description | raw  }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
